<h1>Listing tasks</h1>

<%= link_to 'New Task', new_task_path %>
 
<%= render 'filter' %>
<% if !params[:category_id].blank? %>
  <%= link_to 'Delete Category', category_path(params[:category_id]),
      method: :delete,
      data: { confirm: 'Are you sure? This will remove this category, and
      your tasks will not be categorized under this category anymore.' } %>
<% end %>

<div id="all_tasks">
<%= render 'listing' %>
</div>
