<h1>Listing tasks</h1>

<%= link_to 'New Task', new_task_path %>

<%= render 'filter' %>

<div id='task_listing'>
  <% @tasks.each do |task| %>
    <%= render partial: 'task', object: task %>
  <% end %>
</div>
