// Place all the styles related to the subtasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subtask_row input:checked + span { text-decoration: line-through }

.subtask_row {
  padding: 1em;
  border-bottom: 1px solid gray;
  overflow: auto;

  .title {
    width: 60%;
  }

  .edit {
    width: 10%;
    float: left;
  }
}

