// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// generic detail classes
.completed {
  width: 5%;
  float: left;
}

.inv_box {
  float: left;
  visibility: hidden;
}


.title {
  float: left;
  text-align: left;
  width: 55%;
}

.destroy {
  width: 5%;
  float: right;
  text-align: center;
}

.date {
  width: 20%;
  float: left;
  text-align: left;
}

.priority {
  width: 10%;
  text-align: center;
}

.count {
  width: 10%;
  float: left;
  text-align: center;
}

.edit {
  width: 10%;
  float: left;
}

.name {
  width: 70%;
  float: left;
  text-align: left;
}

.submit {
  width: 25%;
  float: right;
}

.task_links {
  float: right;
  font-size: 1.5em;
}

.priority_flag {
  text-shadow: 1px 1px 0 #000;
}

.priority_flag.high {
  color: red;
}

.priority_flag.med {
  color: orange;
}

.priority_flag.low {
  color: yellow;
}

.priority_flag.none {
  color: black;
}

#heading {
  padding: 1.5em;
  border-bottom: 1px double gray;

  .completed {
    width: 5.5%;
    visibility: hidden;
  }

  .date {
    width: 21.5%;
  }
}

// task row
.index_row {
  padding: 1.5em;
  border-bottom: 1px solid gray;
  overflow: auto;

  .priority {
    display: inline-block;

    .priority_flag, .dropdown-content {
      text-shadow: 1px 1px 0 #000;
    }

    .high {
      color: red;
    }

    .med {
      color: orange;
    }

    .low {
      color: yellow;
    }

    .none {
      color: black;
    }
  }

  .date.overdue {
    color: red;
  }

  .edit_title {
    width: 90%;
  }

  .dropdown {
    float: left;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 6%;
    box-shadow: 1px 1px 0 0 #000;
    float: left;
    text-align: center;

    a {
      display: block;
      color: black;
    }

    a:hover {
      background-color: lightgray;
    }
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}

#task_form {
  display: none;

  .inv_box {
    width: 5%;
  }

  .title {
    width: 40%;
  }

  .category {
    width: 14%;
    float: left;
  }

  .date {
    width: 20%;
  }

  .submit {
    width: 5%;
  }
}
[class^="hidden-form-"]{
  display: none;
}

