// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// generic detail classes
.completed {
  width: 5%;
  float: left;
}

.title {
  float: left;
  text-align: left;
}

.destroy {
  width: 5%;
  float: right;
  text-align: center;
}


// priority colors
.priority.high {
    color: red;
  
}

.priority.med {
  color: orange;
}

.priority.low {
  color: yellow;
}

.priority.none {
  color: white;
}

// task row
.index_row {
  padding: 1.5em;
  border-bottom: 1px solid gray;
  overflow: auto;
  
  .title {
    width: 45%;
  }

  .priority {
    width: 10%;
    float: left;
    text-align: center;
  }

  .date {
    width: 30%;
    float: left;
    text-align: left;
  }

  .edit_title {
    width: 90%;
  }
}

.subtask_row {
  padding: 1em;
  border-bottom: 1px solid gray;
  overflow: auto;

  .title {
    width: 60%;
  }

  .edit {
    width: 10%;
    float: left;
  }
}

[class^="hidden-form-"]{
  display: none;
}
