// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// generic detail classes
.completed {
  width: 5%;
  float: left;
}

.title {
  float: left;
  text-align: left;
}

.destroy {
  width: 5%;
  float: right;
  text-align: center;
}


// priority colors

.priority {
  text-shadow: 1px 1px 0 #000;
}

// task row
.index_row {
  padding: 1.5em;
  border-bottom: 1px solid gray;
  overflow: auto;

  .title {
    width: 45%;
  }

  .priority {
    width: 10%;
    text-align: center;
    display: inline-block;

    .high {
      color: red;
    }

    .med {
      color: orange;
    }

    .low {
      color: yellow;
    }

    .none {
      color: black;
    }
  }

  .date {
    width: 30%;
    float: left;
    text-align: left;
  }

  .edit_title {
    width: 90%;
  }

  .dropdown {
    float: left;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 6%;
    box-shadow: 1px 1px 0 0 #000;
    float: left;
    text-align: center;

    a {
      display: block;
      color: black;
    }

    a:hover {
      background-color: lightgray;
    }
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}

[class^="hidden-form-"]{
  display: none;
}
